{% extends "fr/layout-fr.html" %}

{% block title %}Avis{% endblock %}
{% block pageid_en %}terms{% endblock %}
{% block pageid_fr %}avis{% endblock %}
{% block description %} Description {%endblock %}

{% block content %}
<section id="main-content" class="flex-1">
	<div class="container mx-auto items-center sm:w-4/5 xl:w-3/5 mt-6">
		<h1>Aviss</h1>
		<h2 class=" mb-4">Section 1</h2>
		<p class="mb-8">section 1 content</p>
		<h2 class=" mt-4 mb-4">Section 2</h2>
		
		<p class="mb-8"> section 2 content</p>
	</div>

</section>
{% endblock %}
